.clima-nav
{
    padding: 1.3rem 3rem;
    background: rgb(129,23,118);
    background: linear-gradient(90deg, rgba(129,23,118,1) 0%, rgba(90,80,159,1) 48%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 1rem 2rem;
}

.logo:hover
{
    background: rgb(129,23,118);
}

.cerrar-sesion
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcff00de;
    padding: 0.5rem;
    border-radius: 0.5rem;
    .c-ico
    {
        margin-left: 0.2rem;
    }
}
