<div class="clima-nav">
    

    <nav>
        <a class="logo" routerLink ="/home">
            Home
        </a>
        <a class="logoC" routerLink ="/clima">
            Clima
        </a>
    </nav>
   
    <div class="cerrar-sesion-wrap" *ngIf = "fireAuth.user | async" >
        <button  mat-raised-button class="cerrar-sesion" (click)="CerrarSesion()">
            Cerrar Sesión
            <mat-icon class="c-ico">
             highlight_off
            </mat-icon>
        </button>
    </div>
    

</div>
