/****** Object:  Database [jeffersonBD]    Script Date: 26/09/2021 18:59:46 ******/
CREATE DATABASE [jeffersonBD]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** Los scripts de las configuraciones con ámbito de base de datos en Azure deben ejecutarse dentro de la conexión de base de datos de destino. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Clima]    Script Date: 26/09/2021 18:59:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clima](
	[IdClima] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Temperatura] [float] NULL,
	[Humedad] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClima] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
